* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --text-heading: #4c545c;
  --text-body: #9eabb2;
  --white: #ffffff;

  --primary-color: #26bba4;
  --shadow-primary: 0px 10px 20px 0px rgba(137, 229, 199, 0.5),
    0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;

  --secondary-color: #6174ff;
  --shadow-secondary: 0px 10px 20px 0px rgba(0, 0, 0, 0.1),
    0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

body {
  min-height: 100vh;
  color: var(--text-body);
}

ol,
ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--text-heading);
}
