@import '@/utils/media-query';

/* Keep Track Section */
.keepTrack {
  position: relative;

  .picture {
    width: 312px;
    height: 238px;
    margin: 0 auto;
    object-fit: contain;

    @include responsive(lg) {
      width: 376px;
      height: 286px;
    }

    @include responsive(xl) {
      width: 752px;
      height: 572px;

      position: absolute;
      left: -60px;
    }

    @include responsive(xxl) {
      position: static;
      height: auto;
      width: 60%;
    }
  }
}

.keepTrackList {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  gap: 3rem;

  @include responsive(xl) {
    margin-left: auto;
    margin-top: 6.25rem;
    margin-right: 6.25rem;
  }

  @include responsive(xxl) {
    margin-top: 0;
    margin-right: 0;
  }

  li {
    text-align: center;

    @include responsive(md) {
      max-width: 350px;
      margin: 0 auto;
    }

    @include responsive(xl) {
      text-align: left;
    }

    & > h3 {
      margin-bottom: 0.5rem;
    }
  }
}

.keepTrackRow {
  margin-top: 4rem;

  @include responsive(lg) {
    margin-top: 5rem;
  }

  @include responsive(xl) {
    min-height: 580px;
    display: flex;
  }

  @include responsive(xxl) {
    min-height: auto;
    align-items: center;
    gap: 6.25rem;
  }
}

/* Access Clipboard Section */
.accessClipboard {
  .picture {
    width: 311px;
    height: 182px;
    margin: 4rem auto 0;
    object-fit: contain;

    @include responsive(lg) {
      width: 406px;
      height: 238px;
      margin: 5rem auto 0;
    }

    @include responsive(xl) {
      width: 812px;
      height: 475px;
    }
  }
}

/* Supercharge Your Workflow Section */
.workflowList {
  margin-top: 4.75rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  @include responsive(md) {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  li {
    text-align: center;

    @include responsive(md) {
      flex: 1;
    }

    img {
      margin: 0 auto 2.5rem;
    }

    h3 {
      margin-bottom: 1rem;
    }
  }
}

/* Partners Section */
.partners {
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

    @include responsive(md) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include responsive(lg) {
      gap: 5rem;
    }
  }

  img {
    max-width: 45%;
    object-fit: contain;

    @include responsive(md) {
      max-width: 100%;
    }
  }
}
